.btn-primary {
    background-color: var(--blue);
    border: 1px solid var(--blue);
}

.btn-primary:hover {
    background-color: var(--blue2);
    border: 1px solid var(--blue2);
}



main {
    background-image: url('../img/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    min-height: 50vh;
    color: var(--white);

    padding-top: 7vh;
}

main .container{
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .container > * {
    margin: 1rem 0px;
}

#nomeNovo {
    max-width: 300px;
}


section {
    padding: 2rem 0px;
    min-height: 37.8vh;
}

#suasPilhas {
    text-align: center;
    font-size: 32px;
}

.flashcardList {
    list-style: none;
    padding: 0px;
}

.flashcardStack {
    margin-bottom: 1rem;
    padding: 1rem 0px;
    border-bottom: 1px solid var(--blue);
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.flashcardStack strong {
    font-style: italic;
    color: gray;
}

.flashcardStack button {
    margin-left: 0.5rem;
}

.alert {
    text-align: center;
}

.formCriarFlashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flashcardStack {
    text-transform: capitalize;
    font-weight: 700;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.formCriarFlashcard button {
    margin: 1rem 0px;
}

option, select {
    text-transform: capitalize;
}

#inputGroupCriarPilha {
    margin-top: 1rem;
    width: 100%;
}

#divCriarPilha {
    width: 100%;
}



#modalVerLabel {
    text-transform: capitalize;
}

#corpoModalVer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formEditarFlashcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}