<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caronte</title>

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script> -->

    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js" defer></script>
    
</head>
<body>
    <header>
        <div class="container">
            <h2>&lt;caronte&gt;</h2>
            <div class="btn_menu">
                <svg>
                    <rect x="0" y="7" rx="5" ry="20" width="38" height="6" fill="white" ></rect>
                    <rect x="0" y="20" rx="5" ry="20" width="38" height="6" fill="white" ></rect>
                    <rect x="0" y="33" rx="5" ry="20" width="38" height="6" fill="white" ></rect>
                </svg>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h1>O que vamos aprender hoje?</h1>

            <div class="main_menu">
                <button class="btn_homepage">Cálculo</button>
                <button class="btn_homepage">Estrutura de Dados</button>
                <button class="btn_homepage">Arq. de Computadores</button>
                <button class="btn_homepage">Prog. Orientada a Objetos</button>
            </div>

            <img src="../static/img/robot.png" alt="Robô" class="robo">
        </div>
    </main>

    <section class="quemSomos">
        <div class="container">
            <h3>Quem somos nós?</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed vehicula nibh, quis imperdiet ligula. Morbi ac consectetur nulla. Donec ut turpis ut risus pulvinar tempus. Duis scelerisque mi non feugiat iaculis. Vestibulum volutpat quam sit amet mauris viverra malesuada. In sagittis ipsum quam, nec auctor dolor condimentum blandit. Praesent turpis sem, varius eleifend fermentum at, vehicula eget eros. Nullam semper enim elit, gravida fringilla erat porttitor quis. Mauris convallis dapibus justo, ac dictum urna euismod luctus. Morbi et ultricies orci.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed vehicula nibh, quis imperdiet ligula. Morbi ac consectetur nulla. Donec ut turpis ut risus pulvinar tempus. Duis scelerisque mi non feugiat iaculis. Vestibulum volutpat quam sit amet mauris viverra malesuada. In sagittis ipsum quam, nec auctor dolor condimentum blandit. Praesent turpis sem, varius eleifend fermentum at, vehicula eget eros. Nullam semper enim elit, gravida fringilla erat porttitor quis. Mauris convallis dapibus justo, ac dictum urna euismod luctus. Morbi et ultricies orci.
            </p>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>
                <a href="https://github.com/nathanhgo" target="_blank">@nathanhgo</a>
                <a href="https://github.com/iamthewalrusz" target="_blank">@iamthewalrus</a>
                <a href="https://github.com/comeraperuibe944" target="_blank">@comeraperuibe994</a>
                <a href="https://github.com/PichuFV" target="_blank">@PichuFV</a>
            </p>
            <h3>&lt;/caronte&gt;</h3>
        </div>
    </footer>
</body>
</html>